{
    "presets": [
      "@babel/preset-flow",
      "@babel/preset-react",
      [
        "@babel/preset-env",
        {
          "useBuiltIns": "entry",
          "corejs": 2
        }
      ]
    ],
    "plugins": ["@babel/plugin-proposal-export-namespace-from", "@babel/plugin-proposal-class-properties"]
}
